
<div class="longin-layout" >
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <br/><br/>
            <div class="login-container login-form-width">
                <div class="center ">
                    <h1>
                        <span class="inflexxion-login-title">{{projectName}}</span>
                    </h1>
                </div>

                <div class="position-relative" >
                    <div id="signup-box" class="signup-box widget-box no-border">
                        <div class="widget-body" style="border: 1px solid #ccc; background:#e4e6e9; ">
                            <div class="widget-main">
                                <h4 class="header lighter bigger">
                                    <span class="inflexxion-loginform-header">Reset Your Password and Security Questions.</span>
                                </h4>
                                <div class="space-6"></div>
                                <form data-ng-submit="resetPasswordAndSecurityQuestions()" name="resetpasswordSecurityQuestionsForm" novalidate autocomplete="off" class="formValidation form-horizontal field-height" >
                                    <fieldset class="inflexxion-arial-14">

                                        <label class="block clearfix"> <b>Password</b>: should have a minimum of twelve characters, and at least one each of upper-case letters, lower-case letters, numbers, and special characters.
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" id="password1" name="password1" ng-pattern="passwordPattern" class="form-control" ng-minlength="8" data-ng-model="resetPasswordAndQuestions.password1" placeholder="" required ng-change="comparePasswords()"/>
                                                <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.password1) &&  showError(resetpasswordSecurityQuestionsForm.password1, 'required')" class="patient-form-error">This field is required.</span>
                                                <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.password1) &&  showError(resetpasswordSecurityQuestionsForm.password1, 'minlength')" class="patient-form-error">Password should be at least 8 characters. </span>
                                                <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.password1) &&  resetpasswordSecurityQuestionsForm.password1.$error['pattern']" class="patient-form-error">Password should have a minimum of twelve characters, and at least one each of upper-case letters, lower-case letters, numbers, and special characters.</span>
                                            </span>
                                        </label>

                                        <label class="block clearfix"> <b>Confirm Password</b>
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" id="password2" name="password2" class="form-control" ng-pattern="passwordPattern"   ng-minlength="8" data-ng-model="resetPasswordAndQuestions.password2" placeholder="" required ng-change="comparePasswords()"/>
                                                <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.password2) &&  showError(resetpasswordSecurityQuestionsForm.password2, 'required')" class="patient-form-error">This field is required.</span>
                                                <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.password2) &&  showError(resetpasswordSecurityQuestionsForm.password2, 'minlength')" class="patient-form-error">Password should be at least 8 characters.</span>
                                                <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.password2) &&  passwordsMatch" class="patient-form-error">Passwords do not match.</span>
                                                 <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.password2) &&  resetpasswordSecurityQuestionsForm.password2.$error['pattern']" class="patient-form-error">Password should have a minimum of twelve characters, and at least one each of upper-case letters, lower-case letters, numbers, and special characters.</span>
                                            </span>
                                        </label>

                                        <div class="space-10"></div>

                                        <label class="block clearfix"> <b>Security Question 1</b>

                                            <select ng-model="resetPasswordAndQuestions.securityQuestion1Code" name="securityQuestion1Code" id="securityQuestion1Code" required ng-change="onSecurityQuestion1Change()">
                                                <option value="">-- Choose Security Question 1 --</option>
                                                <option ng-repeat="s in tempSecurityQuestions1" value="{{s.code}}">{{s.displayName}}</option>
                                            </select>
                                            <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.securityQuestion1Code) &&  showError(resetpasswordSecurityQuestionsForm.securityQuestion1Code, 'required')" class="patient-form-error">This field is required.</span>

                                        </label>

                                        <label class="block clearfix"> <b>Security Answer 1</b>

                                            <input type="password"  id="securityAnswer1" name="securityAnswer1" data-ng-model="resetPasswordAndQuestions.securityAnswer1" class="form-control" placeholder="Security Answer 1" required/>

                                            <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.securityAnswer1) && showError(resetpasswordSecurityQuestionsForm.securityAnswer1, 'required')" class="patient-form-error">This field is required.</span>
                                        </label>

                                        <label class="block clearfix"> <b>Security Question 2</b>

                                            <select ng-model="resetPasswordAndQuestions.securityQuestion2Code" name="securityQuestion2Code" id="securityQuestion2Code" required ng-change="onSecurityQuestion2Change()">
                                                <option value="">-- Choose Security Question 1 --</option>
                                                <option ng-repeat="s in tempSecurityQuestions2" value="{{s.code}}">{{s.displayName}}</option>
                                            </select>
                                            <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.securityQuestion2Code) && showError(resetpasswordSecurityQuestionsForm.securityQuestion2Code, 'required')" class="patient-form-error">This field is required.</span>

                                        </label>

                                        <label class="block clearfix"> <b>Security Answer 2</b>

                                            <input type="password"  id="securityAnswer2" name="securityAnswer2" data-ng-model="resetPasswordAndQuestions.securityAnswer2" class="form-control" placeholder="Security Answer 2" required/>

                                            <span ng-show="isDirty(resetpasswordSecurityQuestionsForm.securityAnswer2) && showError(resetpasswordSecurityQuestionsForm.securityAnswer2, 'required')" class="patient-form-error">This field is required.</span>
                                        </label>

                                        <div ng-show="isDirty(resetpasswordSecurityQuestionsForm.securityAnswer2) && resetPasswordAndQuestionsError" class="common-form-error">{{resetPasswordAndQuestionsMsg}}</div>

                                        <div class="space-10"></div>
                                        <div class="clearfix">
                                            <button type="submit" ng-disabled="!resetpasswordSecurityQuestionsForm.$valid || passwordsMatch || questionsMatch" class="width-45 pull-left btn btn-sm btn-success btn-primary" id="resetPasswordAndQuestions">
                                                SUBMIT
                                            </button>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong>{{error}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>
</div>

<div class="footer">
    <div ng-include="footer" ng-cloak style=""></div>
</div>
