
<div class="longin-layout" >
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <br/><br/><br/><br/><br/>
            <div class="login-container login-form-width">
                <div class="center ">
                    <h1>
                        <span class="inflexxion-login-title">{{projectName}}</span>
                    </h1>
                </div>
                <div class="position-relative" >
                    <div id="signup-box" class="signup-box widget-box no-border">
                        <div class="widget-body" style="border: 1px solid #ccc; background:#e4e6e9; ">
                            <div class="widget-main" style="padding:15px;">
                                <h4 class="header lighter bigger">
                                    <span class="inflexxion-loginform-header">Reset Password</span>
                                </h4>
                                <div class="space-6"></div>
                                <form data-ng-submit="resetPasswordIdentify()" name="identifyForm" novalidate autocomplete="off" class="formValidation form-horizontal field-height" >
                                    <fieldset class="inflexxion-arial-14">

                                        <label class="block clearfix"> <b>Email </b>
                                            <input type="email" ng-pattern="emailPattern"  id="email" name="email" data-ng-model="forgotPasswordIdentity.userName" class="form-control" placeholder="name@email.com" required/>
                                            <span ng-show="isDirty(identifyForm.email) && showError(identifyForm.email, 'required')" class="patient-form-error">This field is required.</span>
                                            <span ng-show="isDirty(identifyForm.email) &&  identifyForm.email.$error['pattern']" class="patient-form-error">Invalid email.</span>
                                        </label>

                                        <label class="block clearfix"> <b>Date of birth </b>
                                            <datedropdown ng-model="forgotPasswordIdentity.dateOfBirth" isrequired="true" futuredatevalidation="true" togglerequiredfielderror="false"  agevalidation="true" isvaliddate="isvaliddate"></datedropdown>
                                        </label>

                                        <div ng-show="resetPassworderror" class="patient-form-error">{{resetPasswordMsg}}</div>

                                        <div class="space-10"></div>
                                        <div class="clearfix">
                                            <a href="#/login" data-ng-click="resetMessages()"  class=" width-45 pull-left btn btn-sm btn-primary">
                                                BACK
                                            </a>

                                            <button type="submit" ng-disabled="!identifyForm.$valid || (getAge(forgotPasswordIdentity.dateOfBirth) < 18) || !isvaliddate" class="width-45 pull-right btn btn-sm btn-success btn-secondary" id="resetPasswordIdentify">
                                                CONTINUE
                                            </button>

                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                            <div data-ng-show="error" class="text-center text-danger">
                                <strong>{{error}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>
</div>

<div ng-include="footer" ng-cloak></div>