
<div ng-include="contactnavbar" ng-cloak></div>

<div class="inflexxion-public-pages" id="main-container" ng-class="{'display': enableDropDownMenu}">

    <div class="inflexxion-arial-12">

        <h1 class="inflexxion-page-header contact-header" >FAQs</h1>
        <hr/>

        <ol class="faq-ol">
            <li><a href="" ng-click="goToBookmark('#ans1')">Registering on CDS</a></li>
            <li><a href="" ng-click="goToBookmark('#ans2')">What is the cost of using CDS</a></li>
            <li><a href="" ng-click="goToBookmark('#ans3')">Lorem ipsum…</a></li>
            <li><a href="" ng-click="goToBookmark('#ans4')">Lorem ipsum…</a></li>
        </ol>

        <br/>

        <strong><a id="ans1">1. Registering on {sitename}</a></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere
            neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue
            scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis
            suscipit venenatis, ante ipsum cursus augue.</p>

        <p><a href="">Back to top</a></p>

        <strong><a id="ans2">2. What is the cost of using the {sitename}?</a></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere
            neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue
            scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis
            suscipit venenatis, ante ipsum cursus augue.</p>

        <p><a href="">Back to top</a></p>

        <strong><a id="ans3">3. Lorem ipsum?</a></strong>
        <p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante
            ipsum cursus augue.</p>

        <p><a href="">Back to top</a></p>

        <strong><a id="ans4">4. Lorem ipsum?</a></strong>
        <p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante
            ipsum cursus augue.</p>

        <p><a href="">Back to top</a></p>



    </div>

</div><!-- /.main-container -->

<div ng-include="footer" ng-cloak></div>